---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const res = await fetch("https://sfkiytfrnmwhihljfcxl.supabase.co/rest/v1/cases",{
    method:"GET",
    headers: {
        apikey:"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNma2l5dGZybm13aGlobGpmY3hsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMwMjgwMDEsImV4cCI6MjA3ODYwNDAwMX0.A_ptC_G7EWu7ekTDk_NTYkXcqNyuLuiCnONiGLONjUw"
    }
});

const data = await res.json();
console.log(data);

---

<body>
<Layout>
    <main>
    <h1><span class="pink">OUR</span> WORK</h1>
    <h2>A collection of our cases</h2>
    <div class="grid">
    {data.map((caseItem)=> <Card data={caseItem}/>)}
    </div>
    </main>
</Layout>
</body>

<style>
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    @media (min-width: 1000px){
        .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        }
    }
    main {
        margin: 6rem;
    }
    h1, h2 {
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: lighter;
    }
    .pink {
        color: #D8A8a0;
    }
</style>